.background {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.background.dark-mode {
  background-color: var(--dark-mode-background-color);
}

.board-container {
  padding: 5rem 10rem;
}

.heading {
  margin: 2rem 5rem;
  font-size: 2rem;
}

.heading.dark-mode {
  color: white;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  padding: 0;
}

.sub-menu.dark-mode {
  color: white;
}

.posts-item.dark-mode p {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.no-posts {
  text-align: center;
  color: black;
  margin: 5.75rem 0;
}

.no-posts.dark-mode {
  color: white;
}

.last-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 0 5rem;
  margin-top: 0.25rem;
  padding: 0;
}

.underline {
  content: "";
  margin: 1rem 5rem;
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.underline.dark-mode {
  background-color: rgb(68, 68, 68);
}

.add {
  padding: 0.5rem 1.5rem;
  color: black;
  background-color: transparent;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(68, 68, 68);
  transition: all 0.3s ease;
}

.add:hover {
  background-color: rgb(237, 237, 237);
}

.add.dark-mode {
  color: white;
}

.add.dark-mode:hover {
  background-color: rgb(25, 25, 25);
}

.opacity {
  pointer-events: none;
  opacity: 0.5;
}

/* 모바일 환경 CSS */
.mobile-board-container {
  padding: 4rem 0;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  padding: 0;
}

.mobile-menu p {
  font-size: 0.95rem;
}

.mobile-heading {
  font-size: 1.5rem;
}

.mobile-add {
  padding: 0.4rem 1rem;
  font-size: 0.95rem;
  color: black;
  background-color: transparent;
  border-radius: 2px;
  text-decoration: none;
  border: 1px solid rgb(68, 68, 68);
  transition: all 0.3s ease;
}

.mobile-add.dark-mode {
  color: white;
}

.mobile-posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu.dark-mode {
  color: white;
}
