.background {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.background.dark-mode {
  background-color: var(--dark-mode-background-color);
}

.post-container {
  padding: 5rem 10rem;
  align-items: center;
}

.post-container.dark-mode {
  color: white;
}

.heading {
  margin: 2rem 5rem;
  font-size: 2rem;
}

.heading.dark-mode {
  color: white;
}

.post-wrap {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0 5rem;
}

.post-detail {
  margin: 0rem 5rem;
}

.post-detail.dark-mode p {
  color: white;
}

.info-wrap {
  display: flex;
  align-items: center;
  padding: 0 5rem;
}

.info-wrap span::before {
  content: "●";
  font-size: 0.5rem;
  position: relative;
  margin: 0 1rem;
  color: black;
  vertical-align: middle;
}

.info-wrap.dark-mode span::before {
  color: white;
}

.info-wrap svg {
  margin-left: auto;
}

.underline {
  content: "";
  margin: 1rem 5rem;
  height: 1px;
  background-color: rgb(68, 68, 68);
  /* width: 90%; */
}

.post-detail p {
  font: inherit;
  white-space: pre-line;
  margin: 2.5rem 0;
}

.actions {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.actions a {
  text-decoration: none;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  /* line-height: 40px; */
  text-align: center;
}

.actions a,
.actions button {
  font: inherit;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background: rgb(87, 80, 80);
  color: white;
  border: none;
}

.actions a:hover,
.actions button:hover {
  cursor: pointer;
  background-color: rgb(40, 40, 40);
}

.opacity {
  pointer-events: none;
  opacity: 0.5;
}
