.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background.dark-mode {
  background-color: var(--dark-mode-background-color);
}

.post-form-container {
  padding: 5rem 10rem;
}

.heading {
  margin: 2rem 5rem;
  font-size: 2rem;
}

.heading.dark-mode {
  color: white;
}

.form {
  max-width: 90rem;
  margin: 3rem auto;
}

.form input,
.form textarea {
  font: inherit;
  display: block;
  width: 100%;
  color: black;
  background-color: transparent;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  outline: none;
}

.form.dark-mode input,
.form.dark-mode textarea {
  color: white;
  border: 1px solid rgb(68, 68, 68);
}

.form.dark-mode p {
  color: white;
}

.form input {
  padding: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.form input:focus::placeholder {
  color: rgb(94, 88, 88);
}

.form textarea {
  height: 30rem;
  padding: 0.5rem;
  box-sizing: border-box;
  resize: none;
  font-size: 1rem;
  line-height: 140%;
}

.form textarea::-webkit-scrollbar {
  width: 0;
}

.form textarea:focus::placeholder {
  color: rgb(94, 88, 88);
}

.actions {
  display: block;
  text-align: center;
  margin-top: 2.5rem;
}

.actions button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  color: black;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgb(68, 68, 68);
  transition: all 0.3s ease;
  cursor: pointer;
}

.actions button:last-child {
  margin-left: 0.5rem;
}

.actions button:hover {
  background-color: rgb(237, 237, 237);
}

.actions.dark-mode button {
  color: white;
}

.actions.dark-mode button:hover {
  background-color: rgb(25, 25, 25);
}

@media (max-height: 900px) {
  .background {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .post-form-container {
    padding: 4rem 0 0 0;
  }

  .heading {
    margin: 1.5rem 3rem;
    font-size: 1.5rem;
  }

  .form {
    margin: 3rem;
  }

  .form input {
    font-size: 1.5rem;
  }

  .form p {
    font-size: 0.95rem;
  }

  .form textarea {
    height: 20rem;
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .heading {
    margin: 1.2rem 2rem;
    font-size: 1.2rem;
  }

  .form {
    margin: 2rem;
  }

  .form input {
    font-size: 1.2rem;
  }

  .form p {
    font-size: 0.9rem;
  }

  .form textarea {
    height: 20rem;
    font-size: 0.9rem;
  }

  .actions button {
    padding: 0.4rem 1.2rem;
  }
}
