.post {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.post a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.post.dark-mode a {
  color: white;
}

.post p {
  margin-left: 5rem;
}

.info-wrap,
.title,
.content {
  display: flex;
  align-items: center;
}

/* .bullet {
  width: 0.1rem;
  height: 0.1rem;
  background-color: white;
  border-radius: 50%;
  margin: 0 1rem;
} */

.info-wrap span::before {
  content: "●";
  font-size: 0.5rem;
  position: relative;
  margin: 0 1rem;
  color: white;
  vertical-align: middle;
}

.underline {
  content: "";
  margin: 1rem 5rem;
  /* display: block; */
  width: 85.5%;
  height: 1px;
  background-color: rgb(68, 68, 68);
}
