.post-wrapper {
  padding: 0 5rem;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.post a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.post.dark-mode,
.post.dark-mode a {
  color: white;
}

.info-wrap,
.title,
.content {
  display: flex;
  align-items: center;
}

.title span {
  height: 20px;
  margin-right: 0.4rem;
  margin-bottom: 0.1rem;
  padding: 0 0.375rem;
  border: 1px solid rgb(0, 187, 237);
  border-radius: 30px;
  color: rgb(0, 187, 237);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 20px;
}

.title p {
  font-weight: bold;
  font-size: 1.8rem;
}

.content p {
  white-space: pre-line;
  text-align: left;
}

/* 게시글 정보 사이에 ●을 추가해서 구분 */
.info-wrap span::before {
  content: "●";
  font-size: 0.5rem;
  position: relative;
  margin: 0 1rem;
  color: black;
  vertical-align: middle;
}

.info-wrap.dark-mode span::before {
  color: white;
}

.underline {
  content: "";
  height: 1px;
  background-color: rgb(224, 224, 224);
  /* width: 90%; */
}

.underline.dark-mode {
  background-color: rgb(68, 68, 68);
}
