.heading {
  margin: 5rem;
  font-size: 2rem;
}

.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
  border: 1px solid rgb(180, 173, 173);
  background-color: #180a3a;
  color: white;
  border-radius: 4px;
}

.form label {
  margin-bottom: 0.5rem;
  border: 0;
}

.form input {
  font: inherit;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.form textarea {
  /* font: inherit;
  padding: 0.25rem; */

  height: 20rem;
  padding: 1rem;
  box-sizing: border-box;
  /* border: 0; */
  resize: vertical;
  font-size: 1rem;
  line-height: 140%;
}

.actions {
  display: block;
  text-align: center;
  margin-top: 1rem;
  /* display: flex; */
  /* gap: 1rem; */
  /* justify-content: flex-end; */
}

.actions button {
  font: inherit;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: gray;
  color: white;
  border: none;
}
