.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
  z-index: 0;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.icon {
  margin-top: 0.25rem;
}

.icon.dark-mode {
  color: white;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(202, 230, 241);
  z-index: -1;
}

.circle.dark-mode {
  background-color: rgb(95, 95, 95);
}

.dropdown .dropdown-content {
  /* display: block; */
  display: none;
  position: absolute;
  top: 100%;
  background-color: rgb(249, 249, 249);
  min-width: 100px;
  padding-top: 0.5rem;
  margin-top: 0.075rem;
  border: 0.5px solid rgba(117, 117, 117, 0.31);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transform: translateX(-40%);
  z-index: 1;
}

.dropdown .dropdown-content.dark-mode {
  background-color: rgb(35, 35, 35);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-icon {
  font-size: 1.1rem;
  margin-right: 0.25rem;
}

.underline {
  content: "";
  margin: 0;
  height: 1px;
  background-color: rgb(204, 204, 204);
}

.underline.dark-mode {
  background-color: rgb(68, 68, 68);
}

.toggle-button {
  /* background: #a5fbf7; */
  flex: 1 1 calc(100% / 3);
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 7rem;
  height: 3rem;
}

.toggle-mode {
  font-size: 0.75rem;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.toggle-mode.dark-mode {
  color: var(--dark-mode-color);
}

.normal label {
  background: rgb(128, 122, 122);
  border: 0.5px solid rgba(117, 117, 117, 0.31);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2),
    0 -3px 4px rgba(0, 0, 0, 0.15);
}

.normal-check {
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
}

.normal-check:checked + .toggle-item:before {
  left: 18px;
}

.normal-check:checked + .toggle-item {
  background: rgb(66, 177, 221);
}

.toggle-item {
  width: 2em;
  background: #2e394d;
  height: 1em;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: 20% center;
  cursor: pointer;
}

.toggle-item:before {
  display: block;
  width: 2em;
  height: 2em;
  top: 0.05rem;
  left: 0.05rem;
  border-radius: 2em;
  border: 2px solid #88cf8f;
  transition: all 0.3s ease;
}

.normal .toggle-item:before {
  border: none;
  width: 0.75rem;
  height: 0.75rem;
  box-shadow: inset 0.5px -1px 1px rgba(0, 0, 0, 0.35);
  background: #fff;
  transform: rotate(-25deg);
}

.normal .toggle-item:after {
  background: transparent;
  height: calc(100% + 8px);
  border-radius: 30px;
  top: -5px;
  width: calc(100% + 8px);
  left: -4px;
  z-index: 0;
  box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2),
    0px 1px 2px 0px rgba(151, 151, 151, 0.2);
}
