*:before,
*:after {
  content: "";
  position: absolute;
}

.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: rgb(250, 250, 250);
}

.header.dark-mode {
  background-color: rgb(35, 35, 35);
}

.logo {
  font-size: 1.5rem;
  margin-left: 15rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: black;
}

.logo.dark-mode {
  color: white;
}

.navbutton {
  display: flex;
  flex-direction: row;
  margin-right: 15rem;
  align-items: center;
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  gap: 0.5rem;
  background-color: rgb(250, 250, 250);
  color: rgb(105, 105, 105);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  min-width: 4.5rem;
  transition: color 0.3s ease;
}

.button:hover {
  color: black;
}

.button.dark-mode {
  background-color: rgb(35, 35, 35);
  color: rgb(226, 169, 169);
}

.button.dark-mode:hover {
  color: white;
}

/* 버튼에 커서를 올리면 우측 하단에 빨간 점 표시 */
.button:hover span {
  content: "";
  position: absolute;
  top: 60%;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.active.button {
  font-weight: bold;
  color: black;
}

.active.button.dark-mode {
  color: white;
}

/* 활성화된 버튼 우측 하단에 빨간 점 표시 */
.active span {
  content: "";
  position: absolute;
  top: 60%;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  padding: 0;
  margin-bottom: 0.5rem;
  margin-left: 0.6rem;
  width: 90%;
}

.ham-burger {
  font-size: 2rem;
}

.ham-burger.dark-mode {
  color: white;
}

.is-mobile {
  position: absolute;
  top: calc(3.5rem);
  left: 0;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.5);
  z-index: 10;
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.is-mobile.open {
  animation: mobile-menu-slide-down 0.2s ease-out forwards;
}

@keyframes mobile-menu-slide-down {
  0% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 840px) {
  .logo {
    margin: 1rem auto;
  }

  /* .navbutton {
    display: none;
  } */
}
