.comment-container {
  margin: 0 5rem;
}

.comments {
  border-radius: 4px;
  background-color: rgb(240, 240, 240);
}

.comments.dark-mode {
  background-color: rgb(27, 27, 27);
}

.total-comment {
  font-size: 1.2rem;
}

.total-comment span {
  font-weight: bold;
  color: rgb(0, 187, 237);
}

/* 모바일 환경 CSS */
@media (max-width: 768px) {
  .comment-container {
    margin: 0 3rem;
  }

  .total-comment {
    font-size: 1.05rem;
  }
}

@media (max-width: 420px) {
  .comment-container {
    margin: 0 2rem;
  }

  .total-comment {
    font-size: 0.95rem;
  }
}
