.comment-form {
  /* display: inline;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  border: none;
  background-color: white;
  font-size: 0.8rem;
  color: rgb(196, 181, 181);
  color: rgb(139, 128, 128);
  cursor: pointer; */

  display: flex;
  width: 95%;
  margin: 0.5rem auto 0 auto;
  flex-direction: column;
  align-items: stretch;
  border-radius: 2px;
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  padding: 1rem;
}

.comment-form.dark-mode {
  background-color: var(--dark-mode-background-color);
  border: 1px solid rgb(68, 68, 68);
}

.comment-form p {
  margin: 0;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.comment-form textarea {
  flex-grow: 1;
  width: 100%;
  min-height: 10px;
  line-height: 1.5;
  border: 0;
  resize: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  color: black;
}

.comment-form.dark-mode textarea {
  color: white;
}

.comment-form textarea::-webkit-scrollbar {
  width: 0;
}

.comment-form textarea:focus::placeholder {
  color: rgb(94, 88, 88);
}

.comment-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.comment-button .edit-button,
.comment-button .cancel-button {
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  border-radius: 2px;
  color: black;
  background-color: transparent;
  border: 1px solid rgb(68, 68, 68);
  transition: all 0.3s ease;
  cursor: pointer;
}

.comment-button .edit-button:hover,
.comment-button .cancel-button:hover {
  background-color: rgb(237, 237, 237);
}

.comment-button .edit-button.dark-mode,
.comment-button .cancel-button.dark-mode {
  color: white;
  border: 1px solid rgb(68, 68, 68);
}

.comment-button .edit-button.dark-mode:hover,
.comment-button .cancel-button.dark-mode:hover {
  background-color: rgb(25, 25, 25);
}

.opacity {
  pointer-events: none;
  opacity: 0.5;
}
