.chat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 48px;
  height: 48px;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}

.chat-icon:hover {
  transform: scale(1.1);
}

.chat-icon svg {
  width: 24px;
  height: 24px;
  color: white;
  transition: all 0.3s ease;
}

.chat-container {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: 300px;
  height: 30rem;
  /* max-height: 400px; */
  background-color: rgb(105, 105, 105);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.chat-close-icon {
  display: flex;
  justify-content: flex-end;
}

.chat-close-icon svg {
  cursor: pointer;
}

.chat-close-icon svg:hover {
  color: rgb(35, 35, 35);
}
