.userWrapper {
  padding: 0 5rem;
}

.user {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.user div {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
}

/* .delete-button {
  margin-bottom: 1rem;
} */

/* .underline {
  content: "";
  margin: 1rem 5rem;
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.underline.dark-mode {
  background-color: rgb(68, 68, 68);
} */
