.user-wrapper {
  padding: 0 5rem;
  list-style: none;
}

.user {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.info-wrap {
  display: flex;
  align-items: center;
}

.info-wrap.dark-mode {
  color: white;
}

/* 사용자 정보 사이에 ●을 추가해서 구분 */
.info-wrap span::before {
  content: "●";
  font-size: 0.5rem;
  position: relative;
  margin: 0 1rem;
  color: black;
  vertical-align: middle;
}

.info-wrap.dark-mode span::before {
  color: white;
}

.delete-button button {
  font: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem 1.5rem;
  color: black;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgb(68, 68, 68);
  transition: all 0.3s ease;
  cursor: pointer;
}

.delete-button button:hover {
  background-color: rgb(237, 237, 237);
}

.delete-button.dark-mode button {
  color: white;
}

.delete-button.dark-mode button:hover {
  background-color: rgb(25, 25, 25);
}

.user-wrapper .underline {
  content: "";
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.user-wrapper .underline.dark-mode {
  background-color: rgb(68, 68, 68);
}

.user-wrapper:last-child .underline {
  display: none;
}

/* 모바일 환경 */
@media (max-width: 767px) {
  .user-wrapper {
    padding: 0 3rem;
  }

  .info-wrap {
    font-size: 0.95rem;
  }

  .info-wrap span::before {
    margin: 0 0.85rem;
  }

  .delete-button button {
    padding: 0.5rem 1.2rem;
  }
}

@media (max-width: 600px) {
  .info-wrap {
    font-size: 0.925rem;
  }

  .delete-button button {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .user-wrapper {
    padding: 0 2rem;
  }

  .info-wrap {
    font-size: 0.9rem;
  }

  .delete-button button {
    padding: 0.35rem 1.05rem;
  }
}
