.reply {
  list-style: none;
}

.reply-user-edit {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.reply-user-edit p {
  /* margin: 0;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem; */
  font-weight: bold;
}

.reply-user-edit button {
  border: none;
  /* background: rgb(87, 80, 80); */
  background: none;
  color: white;
  padding: 0 0.3rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin-right: 0.3rem;
  border-radius: 2px;
  /* line-height: 1.5; */
}

.reply-user-edit button:nth-of-type(2) {
  font-size: 1rem;
  margin-top: 0.2rem;
}

.reply-user-edit button:hover {
  cursor: pointer;
  color: rgb(97, 84, 84);
  /* background-color: rgb(40, 40, 40); */
  border-radius: 2px;
}

.reply .content {
  margin-top: 0.2rem;
  white-space: pre-line;
}

.reply .date {
  display: inline;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: rgb(196, 181, 181);
}
