.chat-container {
  display: flex;
  margin: 0.75rem 0;
}

.user-message {
  justify-content: flex-end;
}

.admin-message {
  justify-content: flex-start;
}

/* 채팅 풍선 스타일 */
.chat-bubble {
  background-color: rgb(116, 190, 219);
  border-radius: 1rem;
  border-top-right-radius: 0px;
  padding: 0.25rem 0.75rem;
  position: relative;
  max-width: 70%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.chat-bubble.dark-mode {
  background-color: rgb(95, 95, 95);
}

.admin-message .chat-bubble {
  background-color: rgb(161, 224, 248);
  border-top-left-radius: 0;
  border-top-right-radius: 1rem;
}

.admin-message .chat-bubble.dark-mode {
  background-color: rgb(131, 131, 131);
}

.message {
  font-size: 0.8rem;
  white-space: pre-line;
  color: rgb(51, 51, 51);
}

.message.dark-mode {
  color: white;
}

.date {
  opacity: 0.8;
  font-size: 0.5rem;
  color: rgb(153, 153, 153);
  position: absolute;
  bottom: -10px;
}

.user-message .date {
  left: -70px;
}

.admin-message .date {
  right: -70px;
}
