/* .heading {
  text-align: center;
  background-color: #6233b9;
} */

.form {
  position: relative;
  padding: 1rem;
  width: 20rem;
}

.form h1 {
  margin: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}

/* .form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
} */

.form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1.5rem 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font: inherit;
  border-radius: 40px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.login-button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.login-button:hover {
  background-color: rgb(181, 178, 185);
  color: rgb(224, 224, 224);
}

.login-button.dark-mode:hover {
  background-color: rgb(131, 180, 172);
  color: rgb(224, 224, 224);
}

.link {
  font-size: 0.9rem;
  text-align: center;
  /* margin-bottom: 1rem; */
}

.link button {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  margin-bottom: 2rem;
  cursor: pointer;
}

.link button:hover {
  color: rgb(205, 205, 205);
}

.linK.dark-mode button:hover {
  color: rgb(131, 180, 172);
}

/* .signup:hover {
  cursor: pointer;
  color: #d1bee6;
} */

/* .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 1rem 0 1rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #34036c;
  color: #e5d5f7;
}

.actions button:hover {
  background-color: #23014a;
} */
