.no-access {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.no-access.dark-mode {
  background-color: var(--dark-mode-background-color);
  color: white;
}
