.no-access {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.no-access.dark-mode {
  background-color: var(--dark-mode-background-color);
  color: white;
}

/* 모바일 환경 CSS */
@media (max-width: 600px) {
  .no-access h1 {
    font-size: 1.9rem;
  }

  .no-access p {
    font-size: 0.95rem;
  }
}

@media (max-width: 420px) {
  .no-access h1 {
    font-size: 1.8rem;
  }

  .no-access p {
    font-size: 0.9rem;
  }
}
