.not-found {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.not-found.dark-mode {
  background-color: var(--dark-mode-background-color);
  color: white;
}

.redirect-button {
  text-decoration: none;
  margin-top: 1rem;
}

.redirect-button button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  color: white;
  background-color: black;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.redirect-button button:hover {
  background-color: rgb(40, 40, 40);
}

.redirect-button.dark-mode button {
  background-color: rgb(68, 68, 68);
  color: white;
}

.redirect-button.dark-mode button:hover {
  background-color: rgb(55, 55, 55);
}

@media (max-width: 600px) {
  .not-found h1 {
    font-size: 1.8rem;
  }

  .not-found p {
    font-size: 0.9rem;
  }

  .redirect-button button {
    padding: 0.4rem 1.5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  .not-found h1 {
    font-size: 1.7rem;
  }

  .not-found p {
    font-size: 0.85rem;
  }

  .redirect-button button {
    padding: 0.35rem 1.25rem;
    font-size: 0.75rem;
  }
}
