.background {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.background.dark-mode {
  background-color: var(--dark-mode-background-color);
}

.board-container {
  padding: 5rem 10rem;
}

.heading {
  margin: 2rem 5rem;
  font-size: 2rem;
}

.heading.dark-mode {
  color: white;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  padding: 0;
}

.sub-menu.dark-mode {
  color: white;
}

.posts-item.dark-mode p {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.underline {
  content: "";
  margin: 1rem 5rem;
  width: 90%;
  height: 1px;
  background-color: rgb(68, 68, 68);
}
