.background {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.background.dark-mode {
  background-color: var(--dark-mode-background-color);
}

.board-container {
  padding: 5rem 10rem;
}

.heading {
  margin: 2rem 5rem;
  font-size: 2rem;
}

.heading.dark-mode {
  color: white;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  padding: 0;
}

.sub-menu.dark-mode {
  color: white;
}

.posts-item.dark-mode p {
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.no-posts {
  text-align: center;
  color: black;
  margin: 5.75rem 0;
}

.no-posts.dark-mode {
  color: white;
}

.last-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 2rem 5rem 2.25rem 5rem;
  padding: 0;
}

.underline {
  content: "";
  margin: 1rem 5rem;
  height: 1px;
  background-color: rgb(224, 224, 224);
}

.underline.dark-mode {
  background-color: rgb(68, 68, 68);
}

/* 모바일 환경 CSS */
.mobile-board-container {
  padding: 4rem 0;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding: 0;
}

.mobile-menu.dark-mode {
  color: white;
}

.mobile-heading {
  font-size: 1.5rem;
}

.mobile-menu p {
  font-size: 0.95rem;
}

.mobile-posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .underline {
    margin: 1rem 3rem;
  }
}

@media (max-width: 420px) {
  .underline {
    margin: 1rem 2rem;
  }

  .mobile-menu {
    margin: 0 2rem;
  }

  .mobile-heading {
    font-size: 1.2rem;
  }

  .mobile-menu p {
    font-size: 0.75rem;
  }

  .no-posts {
    margin: 5rem 0;
    font-size: 1.2rem;
  }
}
